@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: url('gracieabrams.jpg') no-repeat center center fixed; 
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Opacidad baja para la imagen de fondo */
  z-index: 0;
}

.game-container {
  text-align: center;
  max-width: 600px;
  background-color: rgba(30, 30, 30, 0.9); /* Fondo semi-transparente */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
}

h1 {
  color: #ff4081;
  font-size: 3em;
  margin-bottom: 20px;
}

.input-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  width: 80%;
  transform: translateX(12%); /* Ajustar un poco más a la izquierda */
}

.input-container {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 10px 0; /* Margin ajustado para mantener consistencia */
}

.input-container-rapid {
  margin: 20px auto 40px auto; /* Agregar un margen de 40px abajo */
  position: relative;
  width: 80%;
  transform: translateX(0%); /* Mover más hacia la izquierda */
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #555;
  border-radius: 8px;
  outline: none;
  background-color: #2c2c2c;
  color: #ffffff;
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Para que el padding no incremente el tamaño total */
}

.success-box {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid rgba(14, 73, 43, 0.5);
  border-radius: 8px;
  background-color: rgba(14, 73, 43, 0.8); /* Verde oscuro con opacidad del 80% */
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 1px; /* Mover un poco más a la izquierda */
  box-sizing: border-box;
  height: auto; /* Eliminar altura fija para que se ajuste al contenido */
  line-height: 1.5; /* Para ajustar la altura del contenido */
}

input::placeholder {
  color: #777; /* Placeholder más claro */
}

input[disabled] {
  background-color: #444; /* Fondo más claro para cajas deshabilitadas */
}

input:focus {
  border-color: #ff4081;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  background: #333;
  border-radius: 8px;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
}

li {
  padding: 10px;
  cursor: pointer;
}

li:hover, .selected {
  background-color: #444;
}

.stats {
  margin-top: 20px;
}

.stats p {
  margin: 5px 0;
  font-size: 1.2em;
}

button {
  background-color: #ff4081;
  color: #ffffff;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  outline: none;
}

button:hover {
  background-color: #e91e63;
  transform: scale(1.05);
}

button img.play-icon {
  width: 48px; /* Doble del tamaño original */
  height: 48px;
  margin-top: 1px; /* Un poco más arriba */
}

button#play-audio {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin-top: 200;
}

.hidden {
  display: none;
}

.selected {
  background-color: #444;
  color: #fff;
}

.progress-bar-container {
  width: 80%;
  height: 10px;
  background-color: #444;
  border-radius: 8px;
  margin: 20px auto;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #ff4081;
  border-radius: 8px;
  width: 100%;
  transition: width 10s linear;
}

#audio {
  display: none;
}

.flash-success {
  animation: flash-success 0.5s;
}

.flash-error {
  animation: flash-error 0.5s;
}

@keyframes flash-success {
  from { background-color: #28a745; }
  to { background-color: transparent; }
}

@keyframes flash-error {
  from { background-color: #dc3545; }
  to { background-color: transparent; }
}

.button-home {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 0px; /* Ajustar según sea necesario */
}

.button-home img {
  width: 50px; /* Ajustar el tamaño según sea necesario */
  height: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-home:hover {
  background-color: transparent; /* Fondo transparente al hacer hover */
}

.error-box {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid rgba(220, 53, 69, 0.5);
  border-radius: 8px;
  background-color: rgba(220, 53, 69, 0.5);
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 1px; /* Mover un poco más a la izquierda */
  box-sizing: border-box;
  height: auto; /* Eliminar altura fija para que se ajuste al contenido */
  line-height: 1.5; /* Para ajustar la altura del contenido */
}
